<!DOCTYPE html>
<html>
    <head>
        <title>Project Finances</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css"/>
        <link rel="shortcut icon" href="pf.png"/>
    </head>
    <header>
        <img src="pf.png" class="logo">
        <span>
            <a href="https://t.me/grhin0">
                <img src="telg.png" class="icon">
            </a>
            <a href="https://github.com/Vikt0r-Nekrutenko/">
                <img src="git.png" class="icon">
                </a>
            <a href="https://www.linkedin.com/in/vikt0r-nekrutenko-18a033177">
                <img src="in.png" class="icon">
            </a>
        </span>
    </header>
    <body>
        <h1>Project Finances</h1>
        <h2>Time for real tracking</h2>
        <h3>
            Project finance is the platform for tracking finances operations, collect statistic and return all of this
            using REST API.
        </h3>
        <div class="wrapper">
            <div class="cell left">
                <div class="value">500</div>
                <div class="title">Categories</div>
            </div>
            <div class="cell center">
                <div class="value">2000</div>
                <div class="title">Operations</div>
            </div>
            <div class="cell right">
                <div class="value">1</div>
                <div class="title">User</div>
            </div>
        </div>
        <div class="devkits">
            <img src="djrestpng.bmp" class="djrest"/>
            <img src="dj.png" class="dj"/>
            <img src="py.png" class="py"/>
        </div>
        <span>copyright @2023 | designed with by grhin0</span>
    </body>
</html>
