{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'grhin0_index_styles.css' %}"/>
</head>
<body>
    <a href="https://grhin0.pythonanywhere.com">
        <pre>
              __    _       ____                __  __                                           __
  ____ ______/ /_  (_)___  / __ \  ____  __  __/ /_/ /_  ____  ____  ____ _____  __  ___      __/ /_  ___  ________   _________  ____ ___
 / __ `/ ___/ __ \/ / __ \/ / / / / __ \/ / / / __/ __ \/ __ \/ __ \/ __ `/ __ \/ / / / | /| / / __ \/ _ \/ ___/ _ \ / ___/ __ \/ __ `__ \
/ /_/ / /  / / / / / / / / /_/ / / /_/ / /_/ / /_/ / / / /_/ / / / / /_/ / / / / /_/ /| |/ |/ / / / /  __/ /  /  __// /__/ /_/ / / / / / /
\__, /_/  /_/ /_/_/_/ /_/\____(_) .___/\__, /\__/_/ /_/\____/_/ /_/\__,_/_/ /_/\__, / |__/|__/_/ /_/\___/_/   \___(_)___/\____/_/ /_/ /_/
/____/                          /_/    /____/                                  /____/
        </pre>
    </a>
    <header>
        <p>grhino.pythonanywhere.com 1.0.0</p>
        <p>Copyright (c) grhin0. All rights reserved.</p><br>
    </header>
    <div class="line">
        <p class="begin">guest@grhino.pythonanywhere.com:</p><p class="tilda">~</p><p class="access">$</p><p class="command">about</p>
    </div>
    <div class="sub1">
        <p>Hello I'm Viktor. And this is my personal webpage.</p>
        <p>I'm an enthusiastic programmer, in my spare time I do programming in my favorite languages C++ and Python.</p>
    </div>
    <div class="line">
        <p class="begin">guest@grhino.pythonanywhere.com:</p><p class="tilda">~</p><p class="access">$</p><p class="command">contacts</p>
    </div>
    <p class="sub1">Use next links to contact with me:</p>
    <table class="sub2">
        <tr>
            <td><a href="https://t.me/grhin0">> Telegram</a></td>
        </tr>
        <tr>
            <td><a href="https://github.com/Vikt0r-Nekrutenko/">> GitHub</a></td>
        </tr>
        <tr>
            <td><a href="https://www.linkedin.com/in/vikt0r-nekrutenko-18a033177">> LinkedIn</a></td>
        </tr>
        <tr>
            <td><a href="mailto:vikt0r.nekrut@outlook.com">> Send email</a></td>
        </tr>
    </table>
    {% block content %}{% endblock %}
    <div class="line">
        <p class="begin">guest@grhino.pythonanywhere.com:</p><p class="tilda">~</p><p class="access">$</p><p class="cursor">|</p>
    </div>
</body>
</html>
