{% extends "base.html" %}
{% block title %}Wellcome!{% endblock %}
{% block content %}
<div class="line">
    <p class="begin">guest@grhino.pythonanywhere.com:</p><p class="tilda">~</p><p class="access">$</p><p class="command">projects</p>
</div>
<p class="sub1">List of my projects:</p>
<table class="sub2">
    <tr>
        <td>
            <a href="https://grhin0.pythonanywhere.com/project_finance/">> Project Finance</a>
        </td>
        <td>
            - simple, terminal finance tracker.
        </td>
    </tr>
</table>
<p class="sub1">(This list will be updated in the future)</p>
{% endblock %}
