{% extends "base.html" %}
{% block title %}Project Finance{% endblock %}
{% block content %}
<div class="line">
    <p class="begin">guest@grhino.pythonanywhere.com:</p><p class="tilda">~</p><p class="access">$</p>
    <p class="command">project_finance</p>
</div>
<p class="sub1">Time for real tracking!</p>
<p class="sub1">Project finance is the platform for tracking finances operations, collect statistic and return all of this using REST API.</p>
<table class="sub2">
    <tr>
        <td>{{ objects_count }}</td>
        <td>&nbsp;- categories.</td>
    </tr>
    <tr>
        <td>{{ operations_count }}</td>
        <td>&nbsp;- operations.</td>
    </tr>
    <tr>
        <td>{{ month_count }}</td>
        <td>&nbsp;- days of trucking.</td>
    </tr>
</table>
{% endblock %}
